.questionWrap {
    font-size: 24px;
    width: 90%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 14px 28px rgba(36,31,32,0.25), 0 10px 10px rgba(36,31,32,0.22);
}