.card {
    height: 200px;
    width: 250px;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(36,31,32,0.25), 0 10px 10px rgba(36,31,32,0.22);
    cursor: pointer;
}

.darkCard {
    color: #4e0d02;
}

.lightCard {
    color: #f62300;
}

.cardImgWrap {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid inherit;
}

.cardImgWrapContent {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cardContext {
    text-align: left;
    align-items: center;
}

.header {
    font-size: 20px;
}